.git
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.csv
*.h5
*.pt
*.ckpt
node_modules
build
dist
*.egg-info
mycar/models
mycar/logs
logs
data
notebooks
lightning_logs
.DS_Store
.vscode
.idea
Dockerfile
docker-compose.override.yml
